##BootstrapSparkContext Properties
BootstrapSparkContext.AppName=SparkService
BootstrapSparkContext.SparkMasterURL=spark://slu23:7077
BootstrapSparkContext.CassandraHost=slu23
BootstrapSparkContext.ExecutorMemory=512m
BootstrapSparkContext.FatJar=/root/spark/spark-example/prjSparkRest-1.0-SNAPSHOT-allinone.jar

##DataLoader Properties
DataLoader.KeySpaceName=testspark
DataLoader.ProductTableName=product
DataLoader.RatingTableName=userproductrating
DataLoader.UserTableName=users
DataLoader.product_file=/home/spark_data/movielens_data/movies.dat
DataLoader.rating_file=/home/spark_data/movielens_data/ratings.dat_movies
DataLoader.num_slices=200